body {
  margin: 0;
  padding: 0;
  height:100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Home {
  margin: auto;
  background-color: #007a73;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  height:100%;
  align-items: center;
}

.Home img {
  max-width: 300px;
  max-height: 300px;
}

.Home h1 {
  font-size: 4rem;
  font-weight: lighter;
 
}

.Home hr {
  width: 40%;
  border: solid thin #fff; 
  margin: 1% auto !important;
 
}

.Home h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.Home a {
  background-color: #fc5a8d;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1%;
  border: solid #1ae51a thin;
}


header {
  background-color: #007a73;
  color: #fff;
  margin: 0;
  padding: 5% !important;
  font-size: 2rem;

}

header a {
  text-decoration: none;
  margin-left: 2%;
}

header img {
  max-width: 200px;
}

.LinkItem {
  display: flex;
  
}

.LinkItem img {
  max-width: 300px;
}

.LinkItem > div {
  padding: 2%;
}

h3 {
  color: #fc5a8d;
}

h6 {
  color: #666;
  font-size: 0.7rem;
}

.side-bar {
  background-color: rgb(252, 90, 141, 0.8) ;
  color: #fff;
  padding: 10% 2%;
}

.side-bar ul {
   list-style: none;
}

.side-bar a {
  color: #fff;
  text-decoration: none;
}